[Unit]
Description=Mount Docker images on boot after NAS drives have mounted
After=multi-user.target nas-mount.service
Requires=nas-mount.service

[Service]
Type=oneshot
ExecStart=/usr/bin/docker start deluge
ExecStart=/bin/sleep 5
ExecStart=/usr/bin/docker start jackett
ExecStart=/bin/sleep 30
ExecStart=/usr/bin/docker start sonarr
ExecStart=/bin/sleep 30
ExecStart=/usr/bin/docker start radarr
ExecStart=/bin/sleep 30
ExecStart=/usr/bin/docker start ombi

[Install]
WantedBy=multi-user.target
