[Unit]
Description=Mount NAS Drives on boot
After=multi-user.target

[Service]
Type=oneshot
ExecStartPre=/bin/bash -c '(while ! ping 192.168.31.32 -c 1 1>/dev/null; do echo "Waiting for NAS to boot..."; sleep 2; done); sleep 2'
ExecStart=/bin/mount -t nfs 192.168.31.32:/volume1/Plex /home/pi/Videos/Plex -o nolock,async,noatime,nodiratime,noexec,rw,nosuid
ExecStart=/bin/mount -t nfs 192.168.31.32:/volume1/Downloads /home/pi/Downloads/NAS -o nolock,async,noatime,nodiratime,noexec,rw,nosuid
ExecStart=/bin/mount -t nfs 192.168.31.32:/volume1/Backups /home/pi/Backups -o nolock,async,noatime,nodiratime,noexec,rw,nosuid

[Install]
WantedBy=multi-user.target
